<a href="https://colab.research.google.com/github/krishna324-art/Practice_Notebooks/blob/main/pandaspractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
#series example
pd_series_1=pd.Series([69,98,39],index=['Maths','bio','chem'])
print(pd_series_1['Maths'])

69

In [15]:
#dataframe example
pd_dataframe_1=pd.DataFrame({'StudentName':['krishna','bhumi'],'MathScore':[27,65],'bio_score':[56,89],'chem_score':[34,56]})
print(pd_dataframe_1)

  StudentName  MathScore  bio_score  chem_score
0     krishna         27         56          34
1       bhumi         65         89          56

In [17]:
pd_series_1=pd.Series([1,2,3,4])
print(pd_series_1[0])

1

In [24]:
pd_series_2=pd.Series([69,98,39],index=['Maths','bio','chem'])
print(pd_series_2[1])

98

/tmp/ipython-input-2803162349.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(pd_series_2[1])

In [23]:
dict1={'Maths':75,'bio':89,'chem':90}
pd_series_3=pd.Series(dict1)
print(pd_series_3[0])

75

/tmp/ipython-input-865772680.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(pd_series_3[0])

In [26]:
pd_series4=pd.Series([1,2,3,4,5])
pd_series5=pd_series4*2
pd_series6=pd_series4+2
print(pd_series5)
print(pd_series6)
print(pd_series5.mean())

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    3
1    4
2    5
3    6
4    7
dtype: int64
6.0

In [28]:
dict2=({'Name':['Krishna','bhumi','sudhi'],'city':['Mumbai','pune','banglore'],'Height':[175,197,166]})
df1=pd.DataFrame(dict2)
print(df1['Name'])

0    Krishna
1      bhumi
2      sudhi
Name: Name, dtype: object

In [30]:
dataset=pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [42]:
print(dataset[['sepal_length','species']])

     sepal_length    species
0             5.1     setosa
1             4.9     setosa
2             4.7     setosa
3             4.6     setosa
4             5.0     setosa
..            ...        ...
145           6.7  virginica
146           6.3  virginica
147           6.5  virginica
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

In [44]:
print(dataset.iloc[0])

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [54]:
#confitional filtering
print(dataset[(dataset['sepal_length']>6) & (dataset['species']=='virginica')& (dataset['petal_width']<1.8)])

     sepal_length  sepal_width  petal_length  petal_width    species
129           7.2          3.0           5.8          1.6  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica

In [55]:
#column operation
dataset['sepal_ratio']=dataset['sepal_length']/dataset['sepal_width']
print(dataset.head)

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     sepal_ratio
0       1.457143
1       1.633333
2       1.468750
3       1.483871
4       1.388889
..           ...
145     2.233333
146     2.520000
147     2.166667
148     1.823529
149     1.966667

[150 rows x 6 columns]>

In [57]:
#data cleaning and aggregation
print(dataset.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
sepal_ratio     0
dtype: int64

In [61]:
dataset.groupby('species')['sepal_width'].agg(['mean','max','min'])

             mean  max  min
species
setosa      3.428  4.4  2.3
versicolor  2.770  3.4  2.0
virginica   2.974  3.8  2.2

In [65]:
#sorting
dataset.sort_values(by='sepal_length',ascending=False)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio
131,7.9,3.8,6.4,2.0,virginica,2.078947
122,7.7,2.8,6.7,2.0,virginica,2.750000
118,7.7,2.6,6.9,2.3,virginica,2.961538
117,7.7,3.8,6.7,2.2,virginica,2.026316
135,7.7,3.0,6.1,2.3,virginica,2.566667
...,...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,setosa,1.956522
42,4.4,3.2,1.3,0.2,setosa,1.375000
8,4.4,2.9,1.4,0.2,setosa,1.517241
38,4.4,3.0,1.3,0.2,setosa,1.466667
13,4.3,3.0,1.1,0.1,setosa,1.433333

In [73]:
student=pd.DataFrame({'id':[1,2,3],'Name':['krishna','bhumi','sudhi']})
student2=pd.DataFrame({'id':[1,2,3],'city':['Mumbai','pune','banglore']})
student3=pd.DataFrame({'id':[4,5,6],'Name':['riya','sneha','aayushi']})
df3=pd.merge(student,student2,on='id')
df4=pd.concat([student,student3],ignore_index=True)
print(df4)

   id     Name
0   1  krishna
1   2    bhumi
2   3    sudhi
3   4     riya
4   5    sneha
5   6  aayushi

In [75]:
titanic=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [78]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [80]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [84]:

titanic['Age'].fillna(titanic['Age'].mean(),inplace=True)

In [86]:
titanic.drop('Cabin',axis=1,inplace=True)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [89]:
titanic['Survived'].mean()*100

np.float64(38.38383838383838)

In [93]:
titanic.groupby('Survived')['Age'].mean()

Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64

In [99]:
titanic[titanic['Age']>16]['Survived'].mean()*100

np.float64(36.283185840707965)

In [100]:
titanic[titanic['Survived']==1].sort_values(by="Age",ascending=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,S
...,...,...,...,...,...,...,...,...,...,...,...
570,571,1,2,"Harris, Mr. George",male,62.00,0,0,S.W./PP 752,10.5000,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,NaN
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.00,0,0,4134,9.5875,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,S

In [102]:
bins=[0,16,60,float('inf')]
labels=['child','adult','old']
titanic['age_group']=pd.cut(titanic['Age'],bins=bins,labels=labels)

In [106]:
titanic.groupby('age_group')['Survived'].mean()*100

/tmp/ipython-input-2580541919.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic.groupby('age_group')['Survived'].mean()*100

age_group
child    55.000000
adult    36.671001
old      22.727273
Name: Survived, dtype: float64